.swiper {
  width: 100%;
  height: 600px;
  --swiper-theme-color: white;
  --swiper-navigation-color: white;
  --swiper-pagination-bullet-inactive-color: rgb(174, 174, 174);
  --swiper-pagination-bullet-inactive-opacity: 0.3;
  --swiper-pagination-bullet-size: 10px;
}
